body{
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Didact Gothic', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Tangerine', cursive; */
}

.buttonText{
    font-family: 'PT Serif', serif;
}


section{
    background-color: #1c1d25;
    color: white;
}

.hero {
    background: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
    justify-content: center;
    height: 30px;
    color:white;
    background-color: rgb(77, 143, 179, 0.825);
    padding: 80px;

}


.contactSocials{
    margin-left: 680px;
    margin-top: -50px;
    background-color: transparent;
    color: white;
}

.bottomPageContactLink{
    margin-top: -100px;
    font-weight: 400;
    text-decoration: none;
}

.footerSocials{
    float: left;
    margin: 1em;
    margin-left: -17.5px;
    justify-content: center;
    width: 50px;
     height: 50px;
}


.cursiveName{
    margin-top: -35px;
    text-align: center;
    font-family: 'Tangerine', cursive;

}

nav{
    display: flex;
    justify-content: space-between;
}


ul{
    display: flex;
    list-style-type: none;
    width:  500px;
    justify-content: space-around;
    font-size: 30px;
}



li{
    /* width: 200px; */ 
    text-decoration: none; 
}

h1{
    font-size: 90px;
    margin: 0;
}

h2{
    font-size: 60px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    
}

p{
    margin: 0;
    font-weight: 200;
}


.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;

}

button{
    width: 200px;
    height: 50px;
    padding-bottom: 5px;
    border-radius: 125px;
    background-color: rgb(81, 234, 219);   /*about me button colour*/
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-top: 5px;
    margin-top: 20px;
}

button:hover{
    background-color: rgb(165, 241, 248);     /* color on hover*/
}

button:active{
    background-color: darkgrey;
    color: rgb(83, 97, 96);      /* the buttons colour change when pressed */
}

.socials{
    padding-bottom: 275px;
}


.logo{
    margin-top: 3.5px;
    height: 80px;
    width: 150px;
}

.social{
    margin: 20px;
}

.abbasIntro{
    font-weight: 400;
    font-size: 20px;
}

.sub-section{
    display: flex;
    justify-content: space-between;   /*change this later to space-between or something if the text appears to far out */ 
    padding: 60px;
}

.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}


.headshot{
    width: 275px;
    margin-right: 25px;
    border-radius: 150px;
}

.headshot-container{
    display: flex;
    align-items: center;
}

.project-card{
    width: 300px;
    height: 550px;
    box-shadow: 5px 5px 20px rgb(77, 143, 179, 0.825);
}

.project-container{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}


.subtext{
    font-size: 15px;
    font-weight: 400;

}
 .projectImages{
    margin-top: 20px;
    width: 300px;
    /* border-radius: 125px;   for displaying as circle*/        
 }

 .projectLink{
    text-decoration: none;
    color: purple;
 }

 hr{
    margin-left: 20px;
    margin-right: 20px;
 }

 a{
    text-decoration: none;
    color: white;
 }

 .information{
    margin-left: 75px;
 }

.hamburger{
    display: none;
}
.hamburger:focus{
    outline:0;
}


@media only screen and (max-width: 1000px){
    .hamburger{
        display: block;
        width: 50px;
        height: 50px;  /* the height and width need to be respecifed after the display:none because it is using an svg file 
        rather than importing it directly */
        border:0;
        background-color: transparent;
        color:white;
        margin: 20px;
        align-self: flex-end;
    }
    ul{
        display: none;
        background-color: #2c2c30;
    }

    ul.show{
        display:block;
    }
    
    nav{
        align-items: flex-start;
        background-color: #2c2c30;
    }

    .logo{
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .hamburger:hover{
        background-color: transparent;
    }
    
    .hamburger:active{
        background-color: transparent;
    }
}


